{%include 'index.html'%}
{%block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <form class="" action="{%url 'index'%}" method="post">
        {%csrf_token%}
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">To Do</h1>
            <div class="form-group">
              <input type="text" name="task" placeholder="Enter the Task" class="form-control" required>
            </div>
            <div class="form-group">
              <button type="Submit" name="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      {%for task in task_list%}
      <div class="alert alert-success" role="alert">
        {{task.task_name}}
        <a href="{%url 'index'%}del/{{task.id}}">
          <button class="btn btn-danger">Remove</button>
        </a>
      </div>
    {%endfor%}
    </div>
  </div>
</div>
{%endblock%}
